extends layout

block content
  body
    .container
      h1#title Online Flash Cards
      .form
        h3 Get a random card
        form(action='/random/', method='GET')
          input#category(type='text', name='category', placeholder='Category (optional)')
          br
          button(type='submit') Get a random card
      .form
        form(action='/new', method='POST')
          h3 Add a new card
          input#category(type='text', name='category', placeholder='Category (optional)')
          br
          input#sideA(type='text', name='sideA', placeholder='Enter text for side one')
          br
          textarea#sideB(type='textarea', name='sideB', rows='5', cols='33', placeholder='Enter text for side two')
          br
          button(type='submit', value='Submit card') Submit card
          if message 
            p #{message}
