//- layout.pug
doctype html
html(lang='en')
    head
        title= 'Flash cards'
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Flash cards
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Playfair+Display')
        link(rel='stylesheet', type='text/css', media='screen', href='/public/style.css')
    
    body
        block content

        #footer 
        div(id='footer')
            p 
            a(href='/', class='button') Home Page
            p
            div(align='right')