body {
    font-family: 'Playfair Display', serif;
    margin: 25px;
    color: #222;
    background-color: #f5f5f5;
    font-size: 20px;
  }

.container {
    text-align: center;
}

.form {
    margin: 10px auto;
    padding: 15px;
    text-align: center;
    background-color:rgb(247, 81, 20);
    max-width: 500px;
    border-radius: 5px;
}

div#sideA, div#sideB {
  margin: 10px auto;
  padding: 15px;
  text-align: center;
  background-color:rgba(247, 81, 20, 0.747);
  max-width: 500px;
  border-radius: 5px;
}

input,textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
    border: 1px solid ivory;
    border-radius: 3px;
    font-size: 16px;
  }

button {
    font-size: 16px;
    border-radius: 3px;
    background-color: #e4e4e0;
    border: 1px solid grey;
    box-shadow: 2px 2px lightgrey;
    cursor: pointer;
  }

div#sideA {
  min-height: 200px;
}

div#sideB {
  display : none;
  min-height: 250px;
}

#footer {
  text-align: center;
  left: 20px;
  right: 5px;
  bottom: 15px;
  font-size: 18px;
  }

a {
  /* text-decoration: none; */
  color: black
}

a#nextCardLink {
  display: none;
}

h2 {
  text-align: left;
}